.buttondanhsach{
    border-radius: 0px;
    border: 2px solid #1F7244;
    background-color:#1F7244 ;
    padding: 4px 12px;
    margin-right: 16px; 
    height: 40px;
    width: 150px;
}
.buttondanhsach:hover{
    background-color:#1F7244 ;
}
.buttonxuatexcel{
    border-radius: 0px;
    border: 2px solid #1F7244;
    background-color:white ;
    color: #1F7244;
    padding: 4px 12px;
    margin-right: 16px; 
    height: 40px;
    width: 150px;
}
.buttonThemMoi{
    border-radius: 0px;
    border: 2px solid rgb(28, 28, 165);
    background-color:rgb(28, 28, 165) ;
    padding: 4px 12px;
    
    height: 40px;
    width: 150px;
}
.buttonThemMoi{
   
}
.colusericon{
    height: 40px;
    display: inline-flex;
    align-items: center;
    margin-left: 10px;
    padding: 0px;
    margin-bottom: 10px;
    margin-top: 2px;
    border-bottom: none;
}
.updateuser{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 16px; */
    /* padding-left: 0; */
    padding-right: 5px;
    border-bottom: none;
}
.deleteuser{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 16px; */
    padding-left: 5px;
    /* padding-right: 0; */
    border-bottom: none;
}