.buttondanhsach{
    border-radius: 0px;
    border: 2px solid #1F7244;
    background-color:#1F7244 ;
    padding: 4px 12px;
    margin-left:39rem;
    height: 40px;
    width: 150px;
}
.buttondanhsach:hover{
    background-color:#1F7244 ;
}
.buttonThemMoi{
    border-radius: 0px;
    border: 2px solid rgb(28, 28, 165);
    background-color:rgb(28, 28, 165) ;
    padding: 4px 12px;
    
    height: 40px;
    width: 150px;
}
.buttonThemMoi{
   
}