.dialogCreateUser > div > div {
  border-radius: 0px;
}
.titlecreateuser {
  display: flex;
  margin: 1rem;
  font-weight: 700;
  padding-top: 10px;
  font-size: 20px;
}
.titlecreateuser > button {
  margin-left: 21rem;
}
.titlecreateuser > button:hover {
  margin-left: 21rem;
  color: black;
  background-color: rgb(241, 84, 84);
}

.divider {
  height: 3px;
  background: linear-gradient(blue, 20%, pink);
}
.formcontrolcreateuser {
  margin: 1rem 0rem 0rem 0rem;
  min-width: 450px;
}

.formcontrolcreateuser > div {
  border-radius: 0px;
  background-color: aliceblue;
}
.formcontrolcreateuser > div:hover {
  border: none;
}
.formcontrolcreateuser > div > div {
  border-radius: 0px;
}
.themtaikhoan {
  margin-bottom: 13px;
  margin-right: 20px;
  border-radius: 0px;
  border: 2px solid rgb(28, 28, 165);
  background-color: rgb(28, 28, 165);
  padding: 4px 12px;
  color: #ffff;
  height: 40px;
  width: 150px;
}
.themtaikhoan:hover {
  border-radius: 0px;
  border: 2px solid rgb(34, 34, 139);
  background-color: rgb(34, 34, 139);
  padding: 4px 12px;
  color: #ffff;
  height: 40px;
  width: 150px;
}
